body{
	color: #5d1968;
	font-weight: 600;
	background-image: url(../images/0000.jpg);
	background-repeat: no-repeat;
   background-position: 50% 50%;
   background-attachment: fixed;
   background-size: cover;
}

header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    font-style: Bradley Hand;
    font-weight: 600;
    font-style : oblique;
}

div {
	color: #5d1968;
}

.parent {
    display: flex;
    min-height: calc(100vh - 112px);
 }

.green {
	color: red;
}

img{
	max-width: 100px;
	max-height: 100px;
}

.left-menu.button{
	background: #81f6b5;
    border: 2px #e41286 solid;
    border-radius: 10px;
    padding: 2px 7px;
    margin: 3px;
    display: block;
}

.left-menu {
    width: 200px;
}

.left-menu a{
	text-decoration: none;
}

.right-text{
	display: flex;
	flex-wrap: wrap;
	flex:1;
}


.button:hover{
	background: #ccc;
	border: 2px solid green;
}

.button {
    border: 2px #b25ec0 solid;
    border-radius: 10px;
    padding: 2px 7px;
    margin: 3px;
    display: block;
}

.button {
    flex: 1;
    display: flex;
}


.button:first-child {
        border-bottom-left-radius: 10px;
        margin-left: 0;
 }

.button:last-child {
        border-bottom-right-radius: 10px;
        margin-right: 0;
 }


.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 
}

.images {
    display: flex;
    flex:1;
}

.images img {
  max-width: 300px;
  max-height: 200px;
}

.images-contener {
	width:80%;
    display: inline-block;
    justify-content: center;
    align-items: center; 
    margin: 2px;
    margin-bottom: 0;
 
}

/*.image-contener{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
	float: right;
}

.image-container{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
}*/

.images.images-contener:first-child {
        margin-left: 0;
}

.images.images-contener:last-child {
        margin-left: 0;
}

img {
    max-width: 100px;
    max-height: 100px;
}

.hotkey-name{
	font-weight: bold;
	color: #9c27b0;
}


.fly-menu.button{
	display: flex;
    align-items: center;
}

.fly-menu a{
	display: block;
}

.table {
	width: 100%;
	margin-left: 100px;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;
}

.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #ecc2f3;
	font-size: 14px;
	border-top: 1px solid #b25ec0;
}

.table tr th:first-child, .table tr td:first-child {
	border-left: 1px solid #b25ec0;
}

.table tr th:last-child, .table tr td:last-child {
	border-right: 1px solid #b25ec0;
}

.table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}

.table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}

.table tbody td {
	text-align: left;
	border: 1px solid #b25ec0;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

.table tbody tr{
	background: #F8F8F8;
}

.table tbody tr:last-child td{
	border-bottom: 1px solid #b25ec0;
}

.table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}

.table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}

.input {
text-align: center;
background-color: #f5f7fa;
height: 40px;
width: 60px;
border: none;
-moz-appearance: textfield;
-webkit-appearance: textfield;
appearance: textfield;
color: #242424;
font-size: 14px;
}

.quantity {
position: relative;
z-index: 1;
}

.buttons {
    border: 2px #b25ec0 solid;
    border-radius: 10px;
    padding: 2px 7px;
    margin: 3px;
    display: block;
}

.buttons {
    display: flex;
}

.buttons:hover{
	background: green;
	border: 1px #b25ec0 solid ;
}

.onaspage:{
   	display: inline-block; 
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.right-text .text {
    width: 85%;
    margin: 10px;
    padding: 2px;
	text-indent:50px;
	font-weight: 800;
	font-style : oblique;
	font-size: 18px;
	text-align:justify;
 }







